* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imagens/background_teste.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: center;
  }
  
  .container {
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
  }

  .pokedex-img{
    width: 50%;
  }

  .conjunto{
    position: absolute;
    top: 25%;  
    left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .titulo{
    width: 45%;
    margin-top: 10%;
    margin-bottom: 4%;
    padding: 3%;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    color: white;
    background-color:#c72929;
    box-shadow: black, 10px;
  }
  
  input, button {
    padding: 12px;
    margin-top: 7%;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-width: 2px;
    border-color: black;
  }

  input {
    font-style: oblique;
    width: 45%;
  }
  
  button {
    width: 25%;
    margin-top: 13.7%;
    margin-left: 3.3%;
    padding-top: 30px;
    padding-bottom: 30px ;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font: larger;
    color: rgb(255, 249, 249);
    background-color:#f56868;
  }
  
  button:hover {
    background-color: #771313;
    color: rgb(250, 233, 233);
    border-color: black;
    transform: scale(1.03);
  }
  
 